In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.core.display import display
import matplotlib.pyplot as plt
import os
print(os.listdir("../input"))

['bureau_balance.csv', 'application_test.csv', 'installments_payments.csv', 'application_train.csv', 'POS_CASH_balance.csv', 'sample_submission.csv', 'bureau.csv', 'credit_card_balance.csv', 'previous_application.csv']

In [2]:
train = pd.read_csv('../input/application_train.csv')
bb = pd.read_csv('../input/bureau_balance.csv')
b = pd.read_csv('../input/bureau.csv')
ccb = pd.read_csv('../input/credit_card_balance.csv')
ip = pd.read_csv('../input/installments_payments.csv')
pa = pd.read_csv('../input/previous_application.csv')
pcb = pd.read_csv('../input/POS_CASH_balance.csv')

In [3]:
display(train.head(), len(train))

   SK_ID_CURR             ...              AMT_REQ_CREDIT_BUREAU_YEAR
0      100002             ...                                     1.0
1      100003             ...                                     0.0
2      100004             ...                                     0.0
3      100006             ...                                     NaN
4      100007             ...                                     0.0

[5 rows x 122 columns]

307511

In [4]:
train_features = [train_columns for train_columns in train.columns if train_columns not in ['SK_ID_CURR']]

In [5]:
for c in train_features:
    print(f"{c}の欠損値割合 -> {train[c].dtype} : {train[c].isnull().sum() / len(train[c]) *100}%")

TARGETの欠損値割合 -> int64 : 0.0%
NAME_CONTRACT_TYPEの欠損値割合 -> object : 0.0%
CODE_GENDERの欠損値割合 -> object : 0.0%
FLAG_OWN_CARの欠損値割合 -> object : 0.0%
FLAG_OWN_REALTYの欠損値割合 -> object : 0.0%
CNT_CHILDRENの欠損値割合 -> int64 : 0.0%
AMT_INCOME_TOTALの欠損値割合 -> float64 : 0.0%
AMT_CREDITの欠損値割合 -> float64 : 0.0%
AMT_ANNUITYの欠損値割合 -> float64 : 0.003902299429939092%
AMT_GOODS_PRICEの欠損値割合 -> float64 : 0.09040327012692229%
NAME_TYPE_SUITEの欠損値割合 -> object : 0.42014757195677555%
NAME_INCOME_TYPEの欠損値割合 -> object : 0.0%
NAME_EDUCATION_TYPEの欠損値割合 -> object : 0.0%
NAME_FAMILY_STATUSの欠損値割合 -> object : 0.0%
NAME_HOUSING_TYPEの欠損値割合 -> object : 0.0%
REGION_POPULATION_RELATIVEの欠損値割合 -> float64 : 0.0%
DAYS_BIRTHの欠損値割合 -> int64 : 0.0%
DAYS_EMPLOYEDの欠損値割合 -> int64 : 0.0%
DAYS_REGISTRATIONの欠損値割合 -> float64 : 0.0%
DAYS_ID_PUBLISHの欠損値割合 -> int64 : 0.0%
OWN_CAR_AGEの欠損値割合 -> float64 : 65.9908100848425%
FLAG_MOBILの欠損値割合 -> int64 : 0.0%
FLAG_EMP_PHONEの欠損値割合 -> int64 : 0.0%
FLAG_WORK_PHONEの欠損値割合 -> int64 : 0.0%
FLAG_CONT_MOBILEの欠損値割合 -> int64 : 0.0%
FLAG_PHONEの欠損値割合 -> int64 : 0.0%
FLAG_EMAILの欠損値割合 -> int64 : 0.0%
OCCUPATION_TYPEの欠損値割合 -> object : 31.345545362604916%
CNT_FAM_MEMBERSの欠損値割合 -> float64 : 0.0006503832383231819%
REGION_RATING_CLIENTの欠損値割合 -> int64 : 0.0%
REGION_RATING_CLIENT_W_CITYの欠損値割合 -> int64 : 0.0%
WEEKDAY_APPR_PROCESS_STARTの欠損値割合 -> object : 0.0%
HOUR_APPR_PROCESS_STARTの欠損値割合 -> int64 : 0.0%
REG_REGION_NOT_LIVE_REGIONの欠損値割合 -> int64 : 0.0%
REG_REGION_NOT_WORK_REGIONの欠損値割合 -> int64 : 0.0%
LIVE_REGION_NOT_WORK_REGIONの欠損値割合 -> int64 : 0.0%
REG_CITY_NOT_LIVE_CITYの欠損値割合 -> int64 : 0.0%
REG_CITY_NOT_WORK_CITYの欠損値割合 -> int64 : 0.0%
LIVE_CITY_NOT_WORK_CITYの欠損値割合 -> int64 : 0.0%
ORGANIZATION_TYPEの欠損値割合 -> object : 0.0%
EXT_SOURCE_1の欠損値割合 -> float64 : 56.381072546998325%
EXT_SOURCE_2の欠損値割合 -> float64 : 0.21462646864665005%
EXT_SOURCE_3の欠損値割合 -> float64 : 19.825307062186393%
APARTMENTS_AVGの欠損値割合 -> float64 : 50.74972927797705%
BASEMENTAREA_AVGの欠損値割合 -> float64 : 58.51595552679416%
YEARS_BEGINEXPLUATATION_AVGの欠損値割合 -> float64 : 48.781019215572776%
YEARS_BUILD_AVGの欠損値割合 -> float64 : 66.49778381911543%
COMMONAREA_AVGの欠損値割合 -> float64 : 69.87229725115525%
ELEVATORS_AVGの欠損値割合 -> float64 : 53.29597965601231%
ENTRANCES_AVGの欠損値割合 -> float64 : 50.3487680115508%
FLOORSMAX_AVGの欠損値割合 -> float64 : 49.76082156410665%
FLOORSMIN_AVGの欠損値割合 -> float64 : 67.84862980511267%
LANDAREA_AVGの欠損値割合 -> float64 : 59.376737742714894%
LIVINGAPARTMENTS_AVGの欠損値割合 -> float64 : 68.35495315614726%
LIVINGAREA_AVGの欠損値割合 -> float64 : 50.193326417591564%
NONLIVINGAPARTMENTS_AVGの欠損値割合 -> float64 : 69.43296337366793%
NONLIVINGAREA_AVGの欠損値割合 -> float64 : 55.17916432257708%
APARTMENTS_MODEの欠損値割合 -> float64 : 50.74972927797705%
BASEMENTAREA_MODEの欠損値割合 -> float64 : 58.51595552679416%
YEARS_BEGINEXPLUATATION_MODEの欠損値割合 -> float64 : 48.781019215572776%
YEARS_BUILD_MODEの欠損値割合 -> float64 : 66.49778381911543%
COMMONAREA_MODEの欠損値割合 -> float64 : 69.87229725115525%
ELEVATORS_MODEの欠損値割合 -> float64 : 53.29597965601231%
ENTRANCES_MODEの欠損値割合 -> float64 : 50.3487680115508%
FLOORSMAX_MODEの欠損値割合 -> float64 : 49.76082156410665%
FLOORSMIN_MODEの欠損値割合 -> float64 : 67.84862980511267%
LANDAREA_MODEの欠損値割合 -> float64 : 59.376737742714894%
LIVINGAPARTMENTS_MODEの欠損値割合 -> float64 : 68.35495315614726%
LIVINGAREA_MODEの欠損値割合 -> float64 : 50.193326417591564%
NONLIVINGAPARTMENTS_MODEの欠損値割合 -> float64 : 69.43296337366793%
NONLIVINGAREA_MODEの欠損値割合 -> float64 : 55.17916432257708%
APARTMENTS_MEDIの欠損値割合 -> float64 : 50.74972927797705%
BASEMENTAREA_MEDIの欠損値割合 -> float64 : 58.51595552679416%
YEARS_BEGINEXPLUATATION_MEDIの欠損値割合 -> float64 : 48.781019215572776%
YEARS_BUILD_MEDIの欠損値割合 -> float64 : 66.49778381911543%
COMMONAREA_MEDIの欠損値割合 -> float64 : 69.87229725115525%
ELEVATORS_MEDIの欠損値割合 -> float64 : 53.29597965601231%
ENTRANCES_MEDIの欠損値割合 -> float64 : 50.3487680115508%
FLOORSMAX_MEDIの欠損値割合 -> float64 : 49.76082156410665%
FLOORSMIN_MEDIの欠損値割合 -> float64 : 67.84862980511267%
LANDAREA_MEDIの欠損値割合 -> float64 : 59.376737742714894%
LIVINGAPARTMENTS_MEDIの欠損値割合 -> float64 : 68.35495315614726%
LIVINGAREA_MEDIの欠損値割合 -> float64 : 50.193326417591564%
NONLIVINGAPARTMENTS_MEDIの欠損値割合 -> float64 : 69.43296337366793%
NONLIVINGAREA_MEDIの欠損値割合 -> float64 : 55.17916432257708%
FONDKAPREMONT_MODEの欠損値割合 -> object : 68.38617155158677%
HOUSETYPE_MODEの欠損値割合 -> object : 50.176091261776%
TOTALAREA_MODEの欠損値割合 -> float64 : 48.26851722377411%
WALLSMATERIAL_MODEの欠損値割合 -> object : 50.8407829313423%
EMERGENCYSTATE_MODEの欠損値割合 -> object : 47.39830445089769%
OBS_30_CNT_SOCIAL_CIRCLEの欠損値割合 -> float64 : 0.3320206431639844%
DEF_30_CNT_SOCIAL_CIRCLEの欠損値割合 -> float64 : 0.3320206431639844%
OBS_60_CNT_SOCIAL_CIRCLEの欠損値割合 -> float64 : 0.3320206431639844%
DEF_60_CNT_SOCIAL_CIRCLEの欠損値割合 -> float64 : 0.3320206431639844%
DAYS_LAST_PHONE_CHANGEの欠損値割合 -> float64 : 0.00032519161916159093%
FLAG_DOCUMENT_2の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_3の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_4の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_5の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_6の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_7の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_8の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_9の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_10の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_11の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_12の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_13の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_14の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_15の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_16の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_17の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_18の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_19の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_20の欠損値割合 -> int64 : 0.0%
FLAG_DOCUMENT_21の欠損値割合 -> int64 : 0.0%
AMT_REQ_CREDIT_BUREAU_HOURの欠損値割合 -> float64 : 13.501630835970097%
AMT_REQ_CREDIT_BUREAU_DAYの欠損値割合 -> float64 : 13.501630835970097%
AMT_REQ_CREDIT_BUREAU_WEEKの欠損値割合 -> float64 : 13.501630835970097%
AMT_REQ_CREDIT_BUREAU_MONの欠損値割合 -> float64 : 13.501630835970097%
AMT_REQ_CREDIT_BUREAU_QRTの欠損値割合 -> float64 : 13.501630835970097%
AMT_REQ_CREDIT_BUREAU_YEARの欠損値割合 -> float64 : 13.501630835970097%

In [6]:
display(bb.head(), len(bb))

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

27299925

In [7]:
bb_features = [bb_columns for bb_columns in bb.columns if bb_columns not in ['SK_ID_BUREAU']]

In [8]:
for c in bb_features:
    print(f"{c}の欠損値割合 -> {bb[c].dtype} : {bb[c].isnull().sum() / len(bb[c]) *100}%")

MONTHS_BALANCEの欠損値割合 -> int64 : 0.0%
STATUSの欠損値割合 -> object : 0.0%

In [9]:
display(b.head(), len(b))

   SK_ID_CURR  SK_ID_BUREAU     ...     DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462     ...                   -131         NaN
1      215354       5714463     ...                    -20         NaN
2      215354       5714464     ...                    -16         NaN
3      215354       5714465     ...                    -16         NaN
4      215354       5714466     ...                    -21         NaN

[5 rows x 17 columns]

1716428

In [10]:
b_features = [b_columns for b_columns in b.columns if b_columns not in ['SK_ID_CURR', 'SK_ID_BUREAU']]
for c in b_features:
    print(f"{c}の欠損値割合 -> {b[c].dtype} : {b[c].isnull().sum() / len(b[c]) *100}%")

CREDIT_ACTIVEの欠損値割合 -> object : 0.0%
CREDIT_CURRENCYの欠損値割合 -> object : 0.0%
DAYS_CREDITの欠損値割合 -> int64 : 0.0%
CREDIT_DAY_OVERDUEの欠損値割合 -> int64 : 0.0%
DAYS_CREDIT_ENDDATEの欠損値割合 -> float64 : 6.149573416420613%
DAYS_ENDDATE_FACTの欠損値割合 -> float64 : 36.916957775100386%
AMT_CREDIT_MAX_OVERDUEの欠損値割合 -> float64 : 65.51326359159837%
CNT_CREDIT_PROLONGの欠損値割合 -> int64 : 0.0%
AMT_CREDIT_SUMの欠損値割合 -> float64 : 0.0007573868522303295%
AMT_CREDIT_SUM_DEBTの欠損値割合 -> float64 : 15.011931755948982%
AMT_CREDIT_SUM_LIMITの欠損値割合 -> float64 : 34.47741472406649%
AMT_CREDIT_SUM_OVERDUEの欠損値割合 -> float64 : 0.0%
CREDIT_TYPEの欠損値割合 -> object : 0.0%
DAYS_CREDIT_UPDATEの欠損値割合 -> int64 : 0.0%
AMT_ANNUITYの欠損値割合 -> float64 : 71.4734902949614%

In [11]:
display(ccb.head(), len(ccb))

   SK_ID_PREV  SK_ID_CURR     ...      SK_DPD  SK_DPD_DEF
0     2562384      378907     ...           0           0
1     2582071      363914     ...           0           0
2     1740877      371185     ...           0           0
3     1389973      337855     ...           0           0
4     1891521      126868     ...           0           0

[5 rows x 23 columns]

3840312

In [12]:
ccb_features = [ccb_columns for ccb_columns in ccb.columns if ccb_columns not in ['SK_ID_PREV', 'SK_ID_CURR']]
for c in ccb_features:
    print(f"{c}の欠損値割合 -> {ccb[c].dtype} : {ccb[c].isnull().sum() / len(ccb[c]) *100}%")

MONTHS_BALANCEの欠損値割合 -> int64 : 0.0%
AMT_BALANCEの欠損値割合 -> float64 : 0.0%
AMT_CREDIT_LIMIT_ACTUALの欠損値割合 -> int64 : 0.0%
AMT_DRAWINGS_ATM_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
AMT_DRAWINGS_CURRENTの欠損値割合 -> float64 : 0.0%
AMT_DRAWINGS_OTHER_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
AMT_DRAWINGS_POS_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
AMT_INST_MIN_REGULARITYの欠損値割合 -> float64 : 7.948208374736219%
AMT_PAYMENT_CURRENTの欠損値割合 -> float64 : 19.998062657409086%
AMT_PAYMENT_TOTAL_CURRENTの欠損値割合 -> float64 : 0.0%
AMT_RECEIVABLE_PRINCIPALの欠損値割合 -> float64 : 0.0%
AMT_RECIVABLEの欠損値割合 -> float64 : 0.0%
AMT_TOTAL_RECEIVABLEの欠損値割合 -> float64 : 0.0%
CNT_DRAWINGS_ATM_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
CNT_DRAWINGS_CURRENTの欠損値割合 -> int64 : 0.0%
CNT_DRAWINGS_OTHER_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
CNT_DRAWINGS_POS_CURRENTの欠損値割合 -> float64 : 19.52487193748841%
CNT_INSTALMENT_MATURE_CUMの欠損値割合 -> float64 : 7.948208374736219%
NAME_CONTRACT_STATUSの欠損値割合 -> object : 0.0%
SK_DPDの欠損値割合 -> int64 : 0.0%
SK_DPD_DEFの欠損値割合 -> int64 : 0.0%

In [13]:
display(ip.head(), len(ip))

   SK_ID_PREV  SK_ID_CURR     ...       AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674     ...             6948.360     6948.360
1     1330831      151639     ...             1716.525     1716.525
2     2085231      193053     ...            25425.000    25425.000
3     2452527      199697     ...            24350.130    24350.130
4     2714724      167756     ...             2165.040     2160.585

[5 rows x 8 columns]

13605401

In [14]:
ip_features = [ip_columns for ip_columns in ip.columns if ip_columns not in ['SK_ID_PREV', 'SK_ID_CURR']]
for c in ip_features:
    print(f"{c}の欠損値割合 -> {ip[c].dtype} : {ip[c].isnull().sum() / len(ip[c]) *100}%")

NUM_INSTALMENT_VERSIONの欠損値割合 -> float64 : 0.0%
NUM_INSTALMENT_NUMBERの欠損値割合 -> int64 : 0.0%
DAYS_INSTALMENTの欠損値割合 -> float64 : 0.0%
DAYS_ENTRY_PAYMENTの欠損値割合 -> float64 : 0.02135181462126695%
AMT_INSTALMENTの欠損値割合 -> float64 : 0.0%
AMT_PAYMENTの欠損値割合 -> float64 : 0.02135181462126695%

In [15]:
display(pa.head(), len(pa))

   SK_ID_PREV            ...              NFLAG_INSURED_ON_APPROVAL
0     2030495            ...                                    0.0
1     2802425            ...                                    1.0
2     2523466            ...                                    1.0
3     2819243            ...                                    1.0
4     1784265            ...                                    NaN

[5 rows x 37 columns]

1670214

In [16]:
pa_features = [pa_columns for pa_columns in pa.columns if pa_columns not in ['SK_ID_PREV', 'SK_ID_CURR']]
for c in pa_features:
    print(f"{c}の欠損値割合 -> {pa[c].dtype} : {pa[c].isnull().sum() / len(pa[c]) * 100 }%")

NAME_CONTRACT_TYPEの欠損値割合 -> object : 0.0%
AMT_ANNUITYの欠損値割合 -> float64 : 22.286665062081866%
AMT_APPLICATIONの欠損値割合 -> float64 : 0.0%
AMT_CREDITの欠損値割合 -> float64 : 5.9872567227912114e-05%
AMT_DOWN_PAYMENTの欠損値割合 -> float64 : 53.636480115721696%
AMT_GOODS_PRICEの欠損値割合 -> float64 : 23.08177275486854%
WEEKDAY_APPR_PROCESS_STARTの欠損値割合 -> object : 0.0%
HOUR_APPR_PROCESS_STARTの欠損値割合 -> int64 : 0.0%
FLAG_LAST_APPL_PER_CONTRACTの欠損値割合 -> object : 0.0%
NFLAG_LAST_APPL_IN_DAYの欠損値割合 -> int64 : 0.0%
RATE_DOWN_PAYMENTの欠損値割合 -> float64 : 53.636480115721696%
RATE_INTEREST_PRIMARYの欠損値割合 -> float64 : 99.6436983524267%
RATE_INTEREST_PRIVILEGEDの欠損値割合 -> float64 : 99.6436983524267%
NAME_CASH_LOAN_PURPOSEの欠損値割合 -> object : 0.0%
NAME_CONTRACT_STATUSの欠損値割合 -> object : 0.0%
DAYS_DECISIONの欠損値割合 -> int64 : 0.0%
NAME_PAYMENT_TYPEの欠損値割合 -> object : 0.0%
CODE_REJECT_REASONの欠損値割合 -> object : 0.0%
NAME_TYPE_SUITEの欠損値割合 -> object : 49.11975351661524%
NAME_CLIENT_TYPEの欠損値割合 -> object : 0.0%
NAME_GOODS_CATEGORYの欠損値割合 -> object : 0.0%
NAME_PORTFOLIOの欠損値割合 -> object : 0.0%
NAME_PRODUCT_TYPEの欠損値割合 -> object : 0.0%
CHANNEL_TYPEの欠損値割合 -> object : 0.0%
SELLERPLACE_AREAの欠損値割合 -> int64 : 0.0%
NAME_SELLER_INDUSTRYの欠損値割合 -> object : 0.0%
CNT_PAYMENTの欠損値割合 -> float64 : 22.286365699245724%
NAME_YIELD_GROUPの欠損値割合 -> object : 0.0%
PRODUCT_COMBINATIONの欠損値割合 -> object : 0.02071590826085759%
DAYS_FIRST_DRAWINGの欠損値割合 -> float64 : 40.29812946125467%
DAYS_FIRST_DUEの欠損値割合 -> float64 : 40.29812946125467%
DAYS_LAST_DUE_1ST_VERSIONの欠損値割合 -> float64 : 40.29812946125467%
DAYS_LAST_DUEの欠損値割合 -> float64 : 40.29812946125467%
DAYS_TERMINATIONの欠損値割合 -> float64 : 40.29812946125467%
NFLAG_INSURED_ON_APPROVALの欠損値割合 -> float64 : 40.29812946125467%

In [17]:
display(pcb.head(), len(pcb))

   SK_ID_PREV  SK_ID_CURR     ...      SK_DPD  SK_DPD_DEF
0     1803195      182943     ...           0           0
1     1715348      367990     ...           0           0
2     1784872      397406     ...           0           0
3     1903291      269225     ...           0           0
4     2341044      334279     ...           0           0

[5 rows x 8 columns]

10001358

In [18]:
display(pcb.head(), len(pcb))

   SK_ID_PREV  SK_ID_CURR     ...      SK_DPD  SK_DPD_DEF
0     1803195      182943     ...           0           0
1     1715348      367990     ...           0           0
2     1784872      397406     ...           0           0
3     1903291      269225     ...           0           0
4     2341044      334279     ...           0           0

[5 rows x 8 columns]

10001358

In [19]:
pcb_features = [pcb_columns for pcb_columns in pcb.columns if pcb_columns not in ['SK_ID_PREV', 'SK_ID_CURR']]
for c in pcb_features:
    print(f"{c}の欠損値割合 -> {pcb[c].dtype} : {pcb[c].isnull().sum() / len(pcb[c]) * 100 }%")

MONTHS_BALANCEの欠損値割合 -> int64 : 0.0%
CNT_INSTALMENTの欠損値割合 -> float64 : 0.26067460038926715%
CNT_INSTALMENT_FUTUREの欠損値割合 -> float64 : 0.2608345786642174%
NAME_CONTRACT_STATUSの欠損値割合 -> object : 0.0%
SK_DPDの欠損値割合 -> int64 : 0.0%
SK_DPD_DEFの欠損値割合 -> int64 : 0.0%